body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.hidden {
  background-color: rgb(215, 179, 245) !important;
  border-radius: 50% !important;
}
.sad {
  background-color: rgb(238, 31, 94) !important;
  border-radius: 50% !important;
}

.react-calendar__month-view__days__day {
}

.react-calendar__tile--now {
  background-color: pink !important;
  border-radius: 50% !important;

}