body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.react-calendar {
  width: 440px !important;
  padding: 1.2rem;
  border-color: #e6e6e6 !important;
  border-radius: 6px;
  box-shadow: 2px 2px 8px #83a0a07a !important;
}

.react-calendar__month-view__weekdays {
  color: #404167 !important;
  padding: 0.5rem 0;
  text-decoration: none !important;
  font-family: 'Montserrat', sans-serif;
}

abbr[title] {
  text-decoration: none !important;
}

.feeling {
  border-radius: 50% !important;
  border: 3px solid #4C5F6B !important;
}

.sad {
  background-color: #607474 !important;
}

.happy {
  background-color: #b0c6c6 !important;
}

.neutral {
  background-color: #83A0A0 !important;
}


.react-calendar button {
  height: 55px !important;
  padding: 10px !important;
  color: #404167 !important;
}

.react-calendar__tile--now {
  background-color: #e6e6e6 !important;
  color: #000 !important;
  border-radius: 50% !important;
  border: 0px !important;
}

.react-calendar__tile--active {
  border-radius: 50% !important;
  border: 1px solid #83a0a0a3!important;
  background-color: #83a0a0a3 !important;
  color: #404167 !important;
}

.react-calendar__tile:hover {
  border-radius: 50% !important;
  border: 1px solid #e6e6e6 !important;
  background-color: #e6e6e6 !important;
}

.react-calendar__month-view__days__day--weekend {
  color: #404167 !important;
}


.react-calendar__month-view__days__day--neighboringMonth {
  color: #e6e6e6 !important;
}

.react-calendar__month-view__days__day--neighboringMonth:hover {
  color: #404167 !important;
}

.open.notopen {
  max-height: 0;
  transition: max-height 0.35s cubic-bezier(0, 1, 0, 1);
}
.open {
  overflow: hidden;
  transition: max-height 0.3s cubic-bezier(1, 0, 1, 0);
  height: auto;
  max-height: 9999px;
}
.footer-link {
  text-decoration: none;
  color: #404167;
}

.footer-link:visited {
  text-decoration: none;
  color: #404167;
}

.footer-icon {
  text-decoration: none;
  color: #404167;
}